@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --roxo-gamifica: #47208b;
    --laranja-gamifica: #f06638;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    /* margin: 20px - Espaçamento externo de 20px */
    /* margin: 20px 10px - Espaçamento 20px na vertical, 10px na horizontal */
    /* margin: 20px 10px 5px - Espaçamento 20px para cima, 10px na horizontal, 5px para baixo */
    /* margin: 20px 10px 5px 2px - Espaçamento 20px para cima, 10px para a direita, 5px para baixo, 2px para a esquerda */

    margin: 0 auto;
}

.banner {
    /* vh é a porcentagem da ALTURA da tela */
    /* vw é a porcentagem da LARGURA da tela */
    height: 100vh;

    background-image: linear-gradient(90deg, rgba(53, 24, 104, 1) 0%, rgba(53, 24, 104, 0.8) 100%), url(img/bg-room.png);
    background-repeat: no-repeat;

    background-position: 165% 40%;
}

header {
    height: 165px;
}

header img {
    width: 234px;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 18px;
    font-family: 'Anta';

    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;    
}

.menu a:hover {
    text-decoration-color: white;
}

.conteudo-banner {
    height: calc(100vh - 280px);

    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: white;

    font-family: "Anta";
    font-size: 32px;
}

#sobre {
    height: 800px;
    padding: 100px 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

h2 {
    font-family: "Anta";
    font-size: 28px;
}

#sobre p {
    font-family: "Montserrat";
    font-size: 17px;

    text-align: left;

    line-height: 1.5;
}

#cases {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}

.container-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: 40px;

    background-color: var(--roxo-gamifica);

    border-radius: 4px; 

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card img {
    height: 55%;
    width: 100%;

    border-radius: 4px 4px 0px 0px;
}

.card p {
    color: white;

    font-family: "Montserrat";
    font-size: 16px;

    text-align: left;

    padding: 7%;
}

.card button {
    width: 90%;
    height: 40px;

    background-color: var(--laranja-gamifica);

    border: none;
    border-radius: 4px;

    color: white;

    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 500ms ease;
}

.card button:hover {
    background-color: #ad4929;
}

#portfolio {
    height: 250px;

    background-image: url(img/bonecos.png);
    background-size: 250px;

    background-attachment: fixed;

    position: relative;

    margin-bottom: 120px;
}

.filtro {
    width: 100%;
    height: 100%;

    background-color: #47208bc2;

    position: absolute;
    top: 0;
    left: 0;
}

#portfolio .container-grid {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portfolio a {
    width: fit-content;

    color: white;  
    
    font-family: "Anta";
    font-size: 28px;

    z-index: 1;

    transition: 200ms;
}

#portfolio a:hover {
    transform: scale(1.05);
    transition: 200ms;
}

#contato {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato h2 {
    margin-bottom: 70px;
}

#contato form {
    width: 50%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 80px;
    background-color: var(--roxo-gamifica);

    color: white;
    font-family: "Montserrat";
    font-size: 17px;
}

.campo {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: white;
    background-color: #351868;

    border: none;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    color: white;
    background-color: #351868;

    border: none;
    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;
}

.campo label, .campo-descricao label {
    margin-bottom: 15px;
}

.campo input, .campo-descricao textarea {
    font-family: "Montserrat";
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--laranja-gamifica);
}

#contato form button {
    height: 40px;
    width: 60%;

    background-color: var(--laranja-gamifica);
    color: white;

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 700; /* Bold */

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: #ad4929;
}

footer {
    height: 290px;

    background-color: var(--roxo-gamifica);
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais {
    height: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.redes-sociais p {
    color: #fff;

    font-family: "Anta";
    font-size: 24px;
}

.icones-redes {
    width: 240px;

    display: flex;
    justify-content: space-between;
}

.icones-redes a {
    color: white;
}

.icones-redes a:hover {
    color: var(--laranja-gamifica);
}

/* Scroll nos links */
/* Favicon */
/* Animação do banner */